@import "tailwindcss";

@theme {
  --color-primary: #6C444C; /* #58373E */
  --color-secondary: #FAF5F1;
  --z-60: 60;
}

@font-face {
  font-family: 'ScriptFont';
  src: url('/fonts/Script Font Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ScriptFontBold';
  src: url('/fonts/Bickham Script Pro Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniFont';
  src: url('/fonts/BodoniCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramondFont';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

.font-script {
  font-family: 'ScriptFont';
}

.font-script-bold {
  font-family: 'ScriptFontBold';
}

.font-serif {
  font-family: 'EBGaramondFont';
}

.font-bodoni {
  font-family: 'BodoniFont';
}

.font-serif-italic {
  font-family: serif;
  font-style: italic;
}

.font-serif-light {
  font-family: serif;
  font-weight: 200;
}

.font-serif-bold {
  font-family: serif;
  font-weight: 600;
}
