@import "tailwindcss";

@theme {
  --color-primary: #6C444C; /* #58373E */
  --color-secondary: #FAF5F1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

.font-script {
  font-family: 'MonteCarlo', cursive;
}

.font-serif {
  font-family: serif;
  font-weight: 400;
}

.font-serif-italic {
  font-family: serif;
  font-style: italic;
}

.font-serif-light {
  font-family: serif;
  font-weight: 200;
}

.font-serif-bold {
  font-family: serif;
  font-weight: 600;
}
